<hr>
<p class="text-center">
    {{#calendarsummary}}{{calendarsummary}}<br>{{/calendarsummary}}
    {{#calendarlocation}}<i class="fa fa-map-marker"></i> {{calendarlocation}}<br>{{/calendarlocation}}
    <i class="fa fa-calendar"></i> {{calendarstart}}{{calendarend}}
</p>
