<p class="text-left">
    <b>{{#str}}ssid_label, block_qr{{/str}}:</b> {{{wifissid}}}<br>
    <b>{{#str}}config_wifiauthentication, block_qr{{/str}}:</b> {{{wifiauthentication}}}<br>
    <b>{{#str}}passkey_label, block_qr{{/str}}:</b> {{{wifipasskey}}}
</p>
