{{#qrcodecontent}}
    {{#qrurl}}<a href="{{{qrcodelink}}}">{{/qrurl}}
        <div id="container{{id}}" style="width: {{size}}; max-width: 100%; margin: 0 auto;"></div>
    {{#qrurl}}</a>{{/qrurl}}
    <div class="text-center">
        <button class="btn btn-secondary" id="qrcodeModalButton{{id}}">{{#str}}fullscreen, block_qr{{/str}}</button>
    </div>
    <hr>
    {{{subcontent}}}

{{#fullview}}{{#configshortlink}}
        <p class="text-center">
            <i class="fa fa-location-arrow"></i>
            <a href="{{urlshort}}" target="_blank">{{#str}}urlshortlabel, block_qr{{/str}}</a>
        </p>
    {{/configshortlink}}{{/fullview}}
{{/qrcodecontent}}
{{^qrcodecontent}}
    <div class="alert alert-warning">{{description}}</div>
{{/qrcodecontent}}
